@page
@model HE153620_Store.Pages.Admin.Category.ListModel
@{
    ViewData["Title"] = "Category List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Add New Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@category.CategoryId">Edit</a> |

                            <button onclick="onDelete(@category.CategoryId)">Delete</button>
                           <a href="javascript:void(0)" onclick="onDelete(@category.CategoryId)">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/categoryHub").build();
    connection.start();

    function onDelete(id) {
        connection.invoke("DeleteCategory", id
        );
    }

    // phản hồi
    connection.on("CategoryDeleted ", (id) => {
        const element = document.getElementById(id);
        element.remove();
    });
</script>