@page
@model HE153620_Store.Pages.Admin.Product.ListModel
@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>

<p>
    <a asp-page="Create">Add New Product</a>
</p>

<form method="get">
    <div class="form-group">
        <label for="searchTerm">Search:</label>
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Enter product name or category...">
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-page="List" class="btn btn-secondary">Clear</a>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
            <th>Units in order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Supplier.Name</td>
                <td>@product.Category.CategoryName</td>
                <td>@product.UnitPrice.ToString()</td>
                <td>@product.UnitsInStock</td>
                <td>@product.UnitsOnOrder</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@product.ProductId">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@product.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>