@page
@model HE153620_Store.Pages.Admin.Employee.ListModel
@{
    ViewData["Title"] = "List Employees";
}

<h1>List Employees</h1>

<p>
    <a asp-page="Create">Add New Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Gender</td>
                <td>@employee.Address</td>
                <td>@employee.Phone</td>
                <td>@employee.Email</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@employee.EmployeeId">Edit</a> |


                    <a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@employee.EmployeeId" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>